{
  "jsc": {
    "target": "es2021",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "module": {
    "type": "es6"
  },
  "env": {
    "targets": {
      "node": "16"
    }
  },
  "sourceMaps": true
}
